body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*Főoldal*/

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: grey;
}

/*Egyiptom*/
#egyiptom-fejlec {
    background-color: #f4c542;
    text-align: center;
    padding: 20px 0;
}

.egyiptom-szekcio {
    padding: 20px;
    background-color: #f9e7b1;
    margin: 10px;
    overflow: auto;
}

.egyiptom-szekcio img {
    float: right;
    max-width: 250px;
    margin-left: 15px;
}

/*Autók*/
#autok-fejlec {
    background-color: #17468c;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.auto {
    background-color: #e1ecf7;
    margin: 10px;
    padding: 15px;
    overflow: auto;
}

.auto img {
    float: right;
    max-width: 300px;
    margin-left: 15px;
}
